.slick-prev{
  left:                50px;
  height:              80px;
  width:               64px;
  background-image:    image-url("https://web-jp-assets.mercdn.net/_next/static/images/carousel-next-bc3a1438a1435e953bc67d720cd05c61.png");
  z-index:             100;
  background-size:     30px;
  background-repeat:   no-repeat;
  background-position: center;
}
